{{title "Settings"}}

<div class="container">
  <div class="panel">
    <section>
      <aside>
        <h3>{{fa-icon "address-card"}} Public profile</h3>
        <p>Manage your profile details like your photo, name, and bio.</p>
      </aside>
      <section>
        {{user-settings-form user=user}}
      </section>
    </section>
  </div>

  <div class="panel">
    <section>
      <aside>
        <h3>{{fa-icon "thumbs-o-up"}} Interests</h3>
        <p>What kind of projects are you interested in?</p>
      </aside>
      <section>
        {{category-checkboxes
          options=categories
          selection=user.categories
          updateCategories=(action updateCategories)
        }}
      </section>
    </section>
  </div>

  <div class="panel">
    <section>
      <aside>
        <h3>{{fa-icon "clipboard"}} Skills</h3>
        <p>What skills can you share? These help you discover new projects and tasks.</p>
      </aside>
      <section>
        <div class="skills-typeahead-container">
          {{skills-typeahead
            centered=true
            selectSkill=(action toggleSkill)
            skillsList=userSkillsList
          }}
        </div>
        <div class="user-skills-list">
          {{#each userSkills as |userSkill|}}
            {{skill-button
              alwaysShowX=true
              iconBefore=false
              isLoading=userSkill.isLoading
              remove=(action removeUserSkill userSkill)
              size="normal"
              skill=userSkill.skill
            }}
          {{/each}}
        </div>
      </section>
    </section>
  </div>
</div>
