{{#if isEditing}}
  {{#editor-with-preview input=comment.markdownPreview preview=comment.bodyPreview generatePreview='generatePreview'}}
    {{#if comment.isSaving}}
      Loading preview...
    {{else}}
      <div class="body-preview">{{{commentBodyPreviewWithMentions}}}</div>
    {{/if}}
  {{/editor-with-preview}}
  <button {{action 'save'}} class="save">Save</button>
  <button {{action 'cancel'}} class="cancel">Cancel</button>
{{else}}
  <div>Comment by <span class="username">{{comment.user.username}}</span></div>
  {{#if canEdit}}
    <button class="edit" {{action 'edit'}}>Edit</button>
  {{/if}}
  <div class="body">{{{commentBodyWithMentions}}}</div>
{{/if}}