{{#link-to 'slugged-route' comment.user.username}}
  {{#if comment.user.isLoaded}}
    <img class="icon" src={{comment.user.photoThumbUrl}} />
  {{else}}
    <div class="icon"></div>
  {{/if}}
{{/link-to}}
<div class="comment-content">
{{#if isEditing}}
  <div class="input-group">
    {{editor-with-preview
      input=comment.markdown
      isLoading=comment.isSaving
      modifiedSubmit=(action 'save')
    }}
    {{#each comment.errors.markdown as |error|}}
      <p class="error">{{error.message}}</p>
    {{/each}}
  </div>
  <div class="input-group">
    {{#if comment.isSaving}}
      <button class="default small right">Saving...</button>
    {{else}}
      <button {{action 'save'}} class="default small right save">Save</button>
      <button {{action 'cancel'}} class="clear small right cancel">Cancel</button>
    {{/if}}
  </div>
{{else}}
  <div class="comment-info">
    {{#link-to 'slugged-route' comment.user.username class="username"}}{{comment.user.username}}{{/link-to}} commented {{moment-from-now comment.insertedAt}}
    {{#if canEdit}}
      <a class="edit" {{action 'edit'}}>edit</a>
    {{/if}}
    {{#if comment.containsCode}}
      {{code-theme-selector}}
    {{/if}}
  </div>
  <div class="comment-body">
    {{#highlight-syntax}}
      {{{processedBody}}}
    {{/highlight-syntax}}
  </div>
{{/if}}
</div>
