{{#if session.isAuthenticated}}
  {{#link-to 'slugged-route' comment.user.username}}
    {{#if comment.user.isLoaded}}
      <img class="icon" src={{comment.user.photoThumbUrl}} />
    {{else}}
      <div class="icon"></div>
    {{/if}}
  {{/link-to}}
  <div class="comment-content-wrapper">
    <div class="comment-content">
      <div class="input-group">
        {{editor-with-preview
          input=markdown
          isLoading=isBusy
          modifiedSubmit=(action save markdown)}}
        {{#each comment.errors.markdown as |error|}}
          <p class="error">{{error.message}}</p>
        {{/each}}
      </div>
      <div class="input-group">
        <button class="default right {{if isBusy "disabled"}}"
                name="save" {{action save markdown}}>Comment</button>
        {{yield}}
      </div>
    </div>
  </div>
{{else}}
  <div class="comment-content-wrapper">
    <div class="comment-content comment-signup">
      <p>
        {{#link-to "signup" class='button default'}}Sign up for free{{/link-to}} to comment on this conversation, or {{#link-to 'login'}}sign in{{/link-to}}.
      </p>
    </div>
  </div>
{{/if}}
