{{#each tasks as |task|}}
  <div class="task-item {{task.taskType}}">
    <div class="task-icon"></div>
    <div class="task-content">
      <div class="task-title"><a>{{task.title}}</a></div>
      <div class="task-description">
        <span class="main-description">#{{task.number}} by {{task.user.username}} {{moment-from-now task.insertedAt}}</span>
        <ul class="skills">
          {{#each task.skills as |skill|}}
            {{skill-list-item skill=skill}}
          {{/each}}
        </ul>
      </div>
      {{!-- <div class="task-expertise expert">Expert</div> --}}
    </div>
  </div>
{{/each}}
