<div class="category-icon {{category.slug}} {{if category.selected "selected"}}"></div>

{{#if category.selected}}
  <button class="default has-spinner" disabled={{category.isLoading}}><span class="{{if category.isLoading "button-spinner" "check-mark"}}"></span>{{category.name}}</button>
{{else}}
  <button class="clear has-spinner" disabled={{category.isLoading}}><span class="{{if category.isLoading "button-spinner"}}"></span>{{category.name}}</button>
{{/if}}

<p class="{{if category.selected "selected"}}">{{category.description}}</p>