{{#if canActivateDonations}}
  <div class="header-section">
    <h3>Ready to accept donations?</h3>
    <p>You've added fundraising goals. Just say the word and start accepting donations now.</p>
    <button class="default activate-donations" {{action (action activateDonations)}}>Turn on donations</button>
  </div>
{{/if}}

{{#if hasExistingDonationGoals}}
  <div class="header-section">
    <h3>Your fundraising goals</h3>
    <p>Add or edit your fundraising goals.</p>
  </div>
{{else}}
  <div class="header-section">
    <h3>Add your fundraising goals</h3>
    <p>Before you can start taking donations, you'll need to add at least one fundraising goal.</p>
  </div>
{{/if}}

{{#each project.donationGoals as |donationGoal|}}
  {{#if donationGoal.isEditing}}
    {{donation-goal-edit
      canCancel=canCancel
      cancel=(action cancel donationGoal)
      donationGoal=donationGoal
      save=(action save donationGoal)
    }}
  {{else}}
    {{donation-goal
      canEdit=canEdit
      donationGoal=donationGoal
      edit=(action edit donationGoal)
    }}
  {{/if}}
{{/each}}

{{#if canAdd}}
  <button class="clear add" {{action add project}}>Add Goal</button>
{{/if}}
