<div class="input-group {{if donationGoal.errors.amount "has-error"}}">
  <div class="input-label">
    <label for="amount">
      <span class="input-label__text">Amount</span>
    </label>
  </div>
  <div class="input-explain">
    <p>Per month.</p>
  </div>
  <div class="input-control-group">
    <span class="input-control-group__prefix">{{fa-icon "dollar"}}</span>
    {{input class="input-control--medium amount" name="amount" type="number" min="0" step="1" value=amount}}
  </div>
  {{#each donationGoal.errors.amount as |error|}}
    <p class="input-error">{{error.message}}</p>
  {{/each}}
</div>

<div class="input-group {{if donationGoal.errors.description "has-error"}}">
  <div class="input-label">
    <label for="description">
      <span class="input-label__text">Description</span>
    </label>
  </div>
  <div class="input-explain">
    <p>Tell your donors what this goal will allow you to do. Be specific, but make it interesting!</p>
  </div>
  {{textarea class="description" name="description" value=description}}
  {{#each donationGoal.errors.description as |error|}}
    <p class="input-error">{{error.message}}</p>
  {{/each}}
</div>

<div class="input-group">
  <button class="default save" {{action save (hash amount=amount description=description)}}>
    {{#if donationGoal.isNew}}Create goal{{else}}Save changes{{/if}}
  </button>
  {{#if canCancel}}
    <button class="clear cancel" {{action cancel}}>Cancel</button>
  {{/if}}
</div>
