<div class="amount-group">
  <span class="currency">$</span>
  {{input class="amount" name="amount" type="number" min="0" step="1" placeholder="Custom amount" value=amount}}
  <span class="period">per month</span>
</div>
{{#each donationGoal.errors.amount as |error|}}
  <p class="error">{{error.message}}</p>
{{/each}}
<div class="input-group">
  {{textarea
    class="description"
    name="description"
    placeholder="Tell your donors what this goal will allow you to do. Be specific, but make it interesting!"
    value=description}}
</div>
{{#each donationGoal.errors.description as |error|}}
  <p class="error">{{error.message}}</p>
{{/each}}

<div class="input-group">
  <button class="default save" {{action save (hash amount=amount description=description)}}>
    {{#if donationGoal.isNew}}Create goal{{else}}Save changes{{/if}}
  </button>
  {{#if canCancel}}
    <button class="clear cancel" {{action cancel}}>Cancel</button>
  {{/if}}
</div>
