{{#unless hasExistingDonationGoals}}
  <p>Before you can start taking donations, you'll need to add at least one monthly fundraising goal.</p>
{{/unless}}
<p>How can donations help you hit your project's goals?</p>
<p>Consider expenses like your operating costs or hiring additional people.</p>

{{#each sortedDonationGoals as |donationGoal|}}
  {{#if donationGoal.isLoaded}}
    {{#if donationGoal.isEditing}}
      {{donation-goal-edit
        canCancel=canCancel
        cancel=(action cancel donationGoal)
        donationGoal=donationGoal
        save=(action save donationGoal)
      }}
    {{else}}
      {{donation-goal
        amountDonated=project.totalMonthlyDonated
        canEdit=canEdit
        click=(action edit donationGoal canEdit)
        donationGoal=donationGoal
        edit=(action edit donationGoal canEdit)
      }}
    {{/if}}
  {{else}}
    <div class="donation-goal-loading">
      <div class="amount"></div>
      <div class="description"></div>
    </div>
  {{/if}}
{{/each}}

{{#if canAdd}}
  <p>
    <button class="clear add" {{action add project}}>Add goal</button>
  </p>
{{/if}}
