<div class="editor-header">
  <div class="button-group">
    <button class="clear primary-active small edit {{if editing "active"}}" {{action 'edit'}}>Write</button>
    <button class="clear primary-active small preview {{if previewing "active"}}" {{action 'preview'}}>Preview</button>
  </div>
  {{#if isLoading}}
    <div class="spinner small"></div>
  {{/if}}
  {{code-theme-selector}}
</div>
{{#if editing}}
  <div class="input-group">
    {{textarea autoresize=true max-height=350 name="markdown"
      classNameBindings="textareaFocused:focused"
      placeholder=placeholder value=input onBlur="blurTextarea" }}
  </div>
{{else}}
  <div class="body-preview">{{{preview}}}</div>
{{/if}}
