<div class="editor-header">
  <div class="button-group">
    <button class="clear primary-active small edit {{if editing "active"}}" {{action 'edit'}}>Write</button>
    <button class="clear primary-active small preview {{if previewing "active"}}" {{action 'preview'}}>Preview</button>
  </div>
  {{#if isLoading}}
    <div class="spinner small"></div>
  {{/if}}
  {{code-theme-selector}}
</div>
{{#if editing}}
  <div class="input-group">
    {{submittable-textarea
      autoresize=true
      classNameBindings="textareaFocused:focused"
      max-height=350
      modifiedSubmit="modifiedSubmit"
      name="markdown"
      onBlur="blurTextarea"
      placeholder=placeholder
      tabindex=tabindex
      value=input}}
  </div>
{{else}}
  <div class="body-preview">
    {{#highlight-syntax}}
      {{{preview}}}
    {{/highlight-syntax}}
  </div>
{{/if}}
