{{#if (and githubRepo.isLoaded (or (not isConnected) projectGithubRepo.isLoaded))}}
  <div class="github-repo__name" data-test-github-repo-name>{{name}}</div>
  <div class="github-repo__actions" data-test-github-repo-actions>
    {{#common/busy-model-wrapper
      model=projectGithubRepo
      onSaving='Connecting...'
      onDeleting='Disconnecting...'
    }}
      {{#if isConnected}}
        <div class="github-repo__sync">Connected</div>
        <a {{action "remove" projectGithubRepo}} class="github-repo__remove-link">Remove</a>
      {{else}}
        <button {{action "connect"}} class="clear small">Connect</button>
      {{/if}}
    {{/common/busy-model-wrapper}}
  </div>
{{else}}
  Loading...
{{/if}}
