{{!--
  Data needs to be fully loaded.
  For connected repo, that means we need to load the project as well
--}}
{{#if (and githubRepo.isLoaded (or githubRepo.project.isLoaded (not isConnected)))}}
  {{!-- Main 'header' UI of the github repo --}}
  <div class="github-repo__content">
    <div class="github-repo__name" data-test-github-repo-name>
      {{svg/sprite-icon icon=repoIcon}} {{githubRepo.name}}
    </div>
    <div class="github-repo__actions" data-test-github-repo-actions>
      {{!-- Not connected to a project at all --}}
      {{#if (not isConnected)}}
        {{#if showSettings}}
          <a data-test-close-repo-settings>Collapse</a>
        {{else}}
          <a data-test-open-repo-settings-connect>Connect</a>
        {{/if}}
      {{/if}}
      {{!-- Connected to this project, fully synced --}}
      {{#if (and belongsToProject syncComplete)}}
        {{#if showSettings}}
          <a data-test-close-repo-settings>Collapse</a>
        {{else}}
          <a data-test-open-repo-settings-edit>Edit settings</a>
        {{/if}}
      {{/if}}
      {{!-- Connected to some other project --}}
      {{#if belongsToOtherProject}}
        <div data-test-repo-project class="github-repo__project">
          <span>Connected to</span>
          <span><img class="icon" src={{githubRepo.project.iconThumbUrl}} /></span>
          <span>{{githubRepo.project.title}}</span>
        </div>
      {{/if}}
    </div>
  </div>
  {{!-- Accordion control is in the open state --}}
  {{#if showSettings}}
    {{!-- Repo is fully synced to this project --}}
    {{#if (and belongsToProject syncComplete)}}
      <div data-test-callout class="callout callout--danger">
        <div class="callout__content">
          <div>
            <p class="callout__content__title">
              Disconnect from {{githubRepo.name}}
            </p>
            <p class="callout__content__description">
              Your tasks will no longer sync between your Code Corps project and all your GitHub pull requests, issues, and comments.
            </p>
            <p class="callout__content__description">
              Disconnecting is <strong>strongly</strong> discouraged.
            </p>
            <p>
              {{github/repo-disconnect-confirm-modal
                disconnect=(action "disconnectRepo" githubRepo hasProject)
                githubRepo=githubRepo
              }}
            </p>
          </div>
        </div>
      </div>
    {{/if}}
    {{!-- Repo is not connected to any project --}}
    {{#if (not isConnected)}}
      <div data-test-callout class="callout">
        <div class="callout__content">
          <div>
            <p data-test-callout-title class="callout__content__title">
              Connect to {{githubRepo.name}}
            </p>
            <p class="callout__content__description">
              Your tasks will sync between your Code Corps project and all your GitHub pull requests, issues, and comments.
            </p>
            <p>
              <button data-test-connect-repo {{action "connectRepo" githubRepo project}} class="default">Start syncing</button>
            </p>
            <p class="callout__content__description">
              Syncing your repo could take some time. You can connect more repos while you wait.
            </p>
          </div>
        </div>
      </div>
    {{/if}}
  {{/if}}
  {{!-- Sync is currently in progress --}}
  {{#if (and belongsToProject syncInProgress)}}
    {{github/repo-sync githubRepo=githubRepo}}
  {{/if}}
{{else}}
  {{!-- Data is still loading --}}
  <div data-test-loading class="github-repo__content">
    <div class="is-loading is-loading--col-2 is-loading--left"></div>
    <div class="is-loading is-loading--col-1 is-loading--right"></div>
  </div>
{{/if}}
