<form {{action "authenticate" on="submit"}}>
  <h2>Sign in</h2>
  <div class="input-group">
    {{#auto-focus}}
      {{input name="email" id="identification" autofocus=true tabindex=0 placeholder="Email" value=identification}}
    {{/auto-focus}}
  </div>

  <div class="input-group">
    {{input name="password" id="password" placeholder="Password" type="password" value=password}}
  </div>

  <div class="input-group">
    <button id="login" class="default" type="submit" disabled={{isLoading}}>
      {{#if isLoading}}
        Signing In...
      {{else}}
        Sign In
      {{/if}}
    </button>
  </div>

  {{#link-to 'password.forgot' classNames="t-forgot-password"}}
    Forgot your password?
  {{/link-to}}

  {{#if errors}}
    {{#each errors.errors as |error|}}
      <p class="error">{{error.detail}}</p>
    {{/each}}
  {{/if}}

</form>
