<div class="project-member__avatar">
  {{#link-to 'slugged-route' user.username}}
    <img class="icon" src= {{user.photoThumbUrl}} />
  {{/link-to}}
</div>

<div class="project-member__name">
  <strong>
  {{#if user.name}}
    {{link-to user.name 'slugged-route' user.username}}
  {{else}}
    {{link-to user.username 'slugged-route' user.username}}
  {{/if}}
  </strong>
  <br>
  <span>
    {{user.username}}
  </span>
</div>

<div class="project-member__skills">
  <h4>Skills</h4>
  <ul>
    {{#each user.userSkills as |userSkill|}}
      <li>{{userSkill.skill.title}}</li>
    {{/each}}
  </ul>
</div>

<div class="project-member__actions">
  {{#if (eq membership.role 'pending')}}
    <button class="default small" {{action "approve" membership}}>Approve</button>
    <button class="danger small" {{action "deny" membership}}>Deny</button>
  {{/if}}
</div>
