<h1 class="header__logo">
  {{#link-to 'index' }}Code Corps{{/link-to}}
</h1>

{{#if navigationMenu.isDefault}}
  <nav class="header-navigation--main">
    <ul class="header-navigation__options">
      <li>{{#link-to 'projects-list'}}Projects{{/link-to}}</li>
      <li><a href="https://blog.codecorps.org">Blog</a></li>
    </ul>
  </nav>

  {{#if session.isAuthenticated}}
    <nav class="header-navigation--auth">
      {{user-menu user=currentUser.user class="header-navigation__options" }}
    </nav>
  {{else}}
    <nav class="header-navigation--auth">
      <ul class="header-navigation__options">
        <li>{{#link-to 'signup' class="signup"}}Sign up{{/link-to}}</li>
        <li>{{#link-to 'login' class="login"}}Sign in{{/link-to}}</li>
      </ul>
    </nav>
  {{/if}}
{{/if}}

{{#if navigationMenu.isOnboarding}}
  <div class="header-navigation--onboarding">
    <div class="onboarding__progress">
      {{progress-bar-container percentage=onboarding.progressPercentage}}
    </div>
    <p class="onboarding__steps">Step {{onboarding.currentStepNumber}} of {{onboarding.totalSteps}}</p>
  </div>
{{/if}}
