<div class="nav-container">
  {{#if navigationMenu.isDefault}}
    <nav class="header-navigation--left">
      <ul class="header-navigation__options">
        <li>{{#link-to 'projects-list'}}Projects{{/link-to}}</li>
        <li><a href="https://codecorps.typeform.com/to/rMxOCA">Submit<span class="mobile-hide"> a project</span></a></li>
      </ul>
    </nav>
  {{/if}}

  {{#if navigationMenu.isOnboarding}}
    <div class="header-navigation--left">
      {{#if navigationMenu.isViewingOnboarding}}
        <div class="onboarding__steps">Step {{onboarding.currentRouteStepNumber}} of {{onboarding.totalSteps}}</div>
      {{/if}}
    </div>
  {{/if}}

  <nav class="header-navigation--middle">
    <h1 class="header__logo">
      {{#link-to 'index' }}Code Corps{{/link-to}}
    </h1>
  </nav>

  {{#if navigationMenu.isDefault}}
    {{#if session.isAuthenticated}}
      <nav class="header-navigation--right">
        {{user-menu user=currentUser.user class="header-navigation__options" }}
      </nav>
    {{else}}
      <nav class="header-navigation--right">
        <ul class="header-navigation__options">
          <li>{{#link-to "signup" class="signup"}}Sign up{{/link-to}}</li>
          <li>{{#link-to 'login' class="login"}}Sign in{{/link-to}}</li>
        </ul>
      </nav>
    {{/if}}
  {{/if}}

  {{#if navigationMenu.isOnboarding}}
    <div class="header-navigation--onboarding header-navigation--right">
      {{#if navigationMenu.isViewingOnboarding}}
        <div class="onboarding__progress">
          {{progress-bar-container percentage=onboarding.progressPercentage}}
        </div>
      {{/if}}

      {{#if (eq navigationMenu.currentRouteName "project.thank-you")}}
        <div class="onboarding__continue">
          {{link-to "Finish signing up" "start.hello" class="button default small"}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
