{{#if canShowPages}}
  <div class="pagination">
    {{#unless onFirstPage}}
      {{link-to "Previous" 'project.tasks.index' (query-params page=previousPage) class="previous-page clear"}}
    {{else}}
      <div>
        <div class="clear first disabled">Previous</div>
      </div>
    {{/unless}}
    {{#each pages as |page|}}
      {{link-to page 'project.tasks.index' (query-params page=page) classNameBindings="page :page :clear"}}
    {{/each}}
    {{#unless onLastPage}}
      {{link-to "Next" 'project.tasks.index' (query-params page=nextPage) class="next-page clear"}}
    {{else}}
      <div>
        <div class="clear last disabled">Next</div>
      </div>
    {{/unless}}
  </div>
{{/if}}
