{{#if isEditing}}
  <div class="title-actions input-group">
    <button class="clear cancel" {{action 'cancel'}}>Cancel</button>
    <button class="default save" {{action 'save'}}>Save</button>
  </div>
  {{input type="text" value=newTitle name="title"}}
{{else}}
  {{#if canEdit}}
  <div class="title-actions">
    <button class="clear small right edit" {{action 'edit'}}>Edit Title</button>
  </div>
  {{/if}}
  <h2 class="title">{{post.title}} <span class="post-number">#{{post.number}}</span></h2>
{{/if}}