{{#if isEditing}}
  {{input type="text" value=newTitle name="title"}}
  <button class="save" {{action 'save'}}>Save</button>
  <button class="cancel" {{action 'cancel'}}>Cancel</button>
{{else}}
  <h2 class="title">{{title}}</h2>
  {{#if session.isAuthenticated}}
    <button class="edit" {{action 'edit'}}>Edit</button>
  {{/if}}
{{/if}}