<div class="input-group">
  {{select-dropdown
    name='post-type'
    items=types
    selectedItem=post.postType
    optionValuePath='slug'
    optionLabelPath='label'}}
  {{#each post.errors.postType as |error|}}
    <p class="error">{{error.message}}</p>
  {{/each}}
</div>
<div class="input-group">
  {{input name="title" type="text" placeholder="Title" value=post.title}}
  {{#each post.errors.title as |error|}}
    <p class="error">{{error.message}}</p>
  {{/each}}
</div>
<div class="input-group">
  {{#editor-with-preview input=post.markdownPreview generatePreview=(action 'generatePreview')}}
    {{#if post.isSaving}}
      Loading preview...
    {{else}}
      <div class="body-preview">{{{postBodyPreviewWithMentions}}}</div>
    {{/if}}
  {{/editor-with-preview}}
  {{#each post.errors.markdown as |error|}}
    <p class="error">{{error.message}}</p>
  {{/each}}
</div>
<div class="input-group">
  <input class="right" name="submit" type="submit" value="Create post" {{action 'submit'}} />
</div>