<div class="post-header">
  <div class="post-icon"></div>
  {{post-title title=post.title saveTitle='savePostTitle'}}
</div>

<div class="post-body">
  {{#if isEditingBody}}
    {{editor-with-preview input=post.markdownPreview preview=post.bodyPreview generatePreview='generatePreview'}}
    <div class="controls">
      <button {{action 'savePostBody'}} class="save">Save</button>
      <button {{action 'cancelEditingPostBody'}} class="cancel">Cancel</button>
    </div>
  {{else}}
    <div class="body">{{{post.body}}}</div>
    {{#if session.isAuthenticated}}
      <button class="edit" {{action 'editPostBody'}}>Edit</button>
    {{/if}}
  {{/if}}
</div>
