{{#if isEditing}}
  <strong>Edit mode not implemented yet</strong>
{{else}}
  <strong> View mode not implemented yet</strong>
  <div>Username: <span name="username">{{user.username}}</span></div>
  <div>Twitter: <span name="twitter">{{user.twitter}}</span></div>
  <div>Website: <span name="website">{{user.website}}</span></div>
  <div>Biography: <span name="biography">{{user.biography}}</span></div>
{{/if}}