<section class="project__header__main">
  <div class="project__header__icon">
    {{#link-to 'project.index' project}}
      <img class="icon" src={{project.iconThumbUrl}} />
    {{/link-to}}
  </div>

  <div class="project__header__details">

    <h2 class="project__header__title">
      {{#link-to 'project.index' project}}
        {{project.title}}
      {{/link-to}}
    </h2>
  </div>
</section>

<aside class="project__header__side">
  {{#if session.isAuthenticated}}
    {{#if (can "join organization" project.organization)}}
      <button class="default small" {{action 'joinProject'}}>Join project</button>
    {{/if}}
    {{#if credentials.userMembershipIsPending}}
      <button class="clear small" disabled>Request sent</button>
    {{/if}}
  {{else}}
    {{link-to "Sign up" "signup" class="button default small"}} to join this project.
  {{/if}}
</aside>
