<div class="posts-menu">
  <div class="left">
    {{post-filter-type project=project selectedTypes=selectedTypes filterByType="filterByType"}}
  </div>
  <div class="right">
    {{link-to 'New post' 'project.posts.new' tagName='button' class="default small new-post"}}
  </div>
</div>

<div class="posts-filters">
{{#if isFiltered}}
  <p>Clear filters:</p>
  <ul class="groups">
    <li>
      <ul>
        <li class="all">
          {{#link-to "project.posts.index" (query-params postType=null page=1)}}<span>&times;</span> All{{/link-to}}
        </li>
      </ul>
    </li>
    <li>
      <ul>
      {{#each selectedTypes as |type|}}
        {{#if type.selected}}
          <li class="type {{type.param}}">
            <a {{action 'removeTypeFilter' type}}><span>&times;</span> {{type.name}}</a>
          </li>
        {{/if}}
      {{/each}}
      </ul>
    </li>
  </ul>
{{/if}}
</div>

<div class="posts">
  {{#each posts as |post|}}
    {{post-item post=post}}
  {{else}}
    {{#if isFiltered}}
      <div class="empty">
        <div class="empty-icon search-icon"></div>
        <h3>Your filters look a little too specific.</h3>
        <p>We couldn't find any posts that match all your filters.</p>
      </div>
    {{else}}
      <div class="empty">
        <div class="empty-icon box-icon"></div>
        <h3>Here's where the magic happens.</h3>
        <p>You can track everything that's happening in your project right here: all your tasks, issues, and ideas.</p>
        <p>Ready to get started? {{link-to 'Create a post' 'project.posts.new' tagName='button' class="default small new-post"}}</p>
      </div>
    {{/if}}
  {{/each}}
</div>

{{pager-control options=options}}