<div class="posts-menu">
  <div class="left">
    {{post-filter-type project=project selectedTypes=selectedTypes filterByType="filterByType"}}
  </div>
  <div class="right">
    {{link-to 'New Post' 'project.posts.new' tagName='button' class="default small new-post"}}
  </div>
</div>
<div class="posts-filters">
{{#if isFiltered}}
  <p>Clear filters:</p>
  <ul class="groups">
    <li>
      <ul>
        <li class="all">
          {{#link-to "project.posts.index" (query-params postType=null page=1)}}<span>&times;</span> All{{/link-to}}
        </li>
      </ul>
    </li>
    <li>
      <ul>
      {{#each selectedTypes as |type|}}
        {{#if type.selected}}
          <li class="type {{type.param}}">
            <a {{action 'removeTypeFilter' type}}><span>&times;</span> {{type.name}}</a>
          </li>
        {{/if}}
      {{/each}}
      </ul>
    </li>
  </ul>
{{/if}}
</div>
<div class="posts">
  {{#each posts as |post|}}
    {{post-item post=post}}
  {{else}}
    <div class="no-posts">There are currently no posts of any type created for this project</div>
  {{/each}}
</div>

{{pager-control options=options}}