<div class="icon-container">
  {{#link-to 'project' project.organization.slug project.slug}}
    <img class="icon medium" src={{project.iconLargeUrl}} />
  {{/link-to}}
</div>
<div class="details-container">
  <h4>
    {{#link-to 'project' project.organization.slug project.slug}}
      {{project.title}}
    {{/link-to}}
  </h4>
  {{project-categories-list categories=projectCategories}}
  <p class="description">
    {{project.description}}
  </p>
  <p class="project-card__actions">
    {{#if project.shouldLinkExternally}}
      <a class="button default small external-link" href="{{project.website}}">Join project<span></span></a>
    {{else}}
      {{#if session.isAuthenticated}}
        {{#if currentProjectMembership.isLoaded}}
          {{#if (eq currentProjectMembership.role 'pending')}}
            <button class="clear small" disabled>Request sent</button>
          {{else}}
            <button class="clear small" disabled>Member</button>
          {{/if}}
        {{/if}}

        {{#unless currentProjectMembership}}
          {{project-join-modal project=project skills=projectSkills}}
        {{/unless}}
      {{else}}
        {{link-to "Join project" "signup" class="button default small"}}
      {{/if}}
    {{/if}}
  </p>
  {{related-skills class="project-card__skills" overflowHidden=true skills=projectSkills}}
  {{project-card/project-users projectUsers=projectUsers}}
  {{#if project.donationsActive}}
    {{project-card/donation-progress
      amountDonated=project.totalMonthlyDonated
      donationGoal=project.currentDonationGoal
    }}
  {{/if}}
</div>
