<div class="{{if wide "container--wide" "container"}}">
  <ul>
    <li>
      {{link-to 'About' 'project.index' project}}
    </li>

    <li>
      {{#link-to 'project.tasks' project}}
        Tasks
      {{/link-to}}
    </li>

    {{#if session.isAuthenticated}}
      {{#if (can "manage project" project)}}
        <li class="contributors">
          {{#link-to 'project.settings.contributors' project}}
            Contributors
            {{#if projectHasPendingMembers}}
              <span class="info"><strong>{{projectPendingMembersCount}}</strong> pending</span>
            {{/if}}
          {{/link-to}}
        </li>

        <li>
          {{link-to 'Donations' 'project.settings.donations.goals' project}}
        </li>

        <li>
          {{link-to 'Payments' 'project.settings.donations.payments' project}}
        </li>

        <li>
          {{link-to 'Settings' 'project.settings.profile' project}}
        </li>
      {{/if}}
    {{/if}}
  </ul>
</div>
