<ul class="post-filtering-menu">
  <li>
    Filter by:
  </li>
  <li>
    {{link-to "All" "project.posts.index" (query-params postType=null page=1) class="filter all"}}
  </li>
  <li>
    {{link-to "Tasks" "project.posts.index" (query-params postType='task' page=1) class="filter tasks"}}
  </li>
  <li>
    {{link-to "Issues" "project.posts.index" (query-params postType='issue' page=1) class="filter issues"}}
  </li>
  <li>
    {{link-to "Progress" "project.posts.index" (query-params postType='progress' page=1) class="filter progress"}}
  </li>
  <li>
    {{link-to "Ideas" "project.posts.index" (query-params postType='idea' page=1) class="filter ideas"}}
  </li>
  <li>
    {{link-to 'New Post' 'project.posts.new' tagName='button' class="new-post success"}}
  </li>
</ul>
<div class="posts">
  {{#each posts as |post|}}
    {{post-item post=post}}
  {{else}}
    <div class="no-posts">There are currently no posts of any type created for this project</div>
  {{/each}}
</div>

{{pager-control options=options}}