<div class="{{if wide "container--wide" "container"}} container--full-on-mobile">
  <ul>
    <li>
      {{#link-to 'project.index' project}}
        {{fa-icon "info-circle"}} About
      {{/link-to}}
    </li>

    {{#unless project.shouldLinkExternally}}
    <li>
      {{#link-to 'project.tasks' project}}
        {{fa-icon "columns"}} Tasks
      {{/link-to}}
    </li>
    {{/unless}}

    {{#if session.isAuthenticated}}
      {{#if (can "administer project" project)}}
        <li data-test-project-people-link>
          {{#link-to 'project.people' project}}
            {{fa-icon "users"}} People
            {{#if projectHasPendingUsers}}
              <span class="info"><strong>{{projectPendingUsersCount}}</strong> pending</span>
            {{/if}}
          {{/link-to}}
        </li>

        <li>
          {{#link-to 'project.conversations' project}}
            {{fa-icon "comment"}} Conversations
          {{/link-to}}
        </li>
      {{/if}}

      {{#if (can "manage project" project)}}
        <li>
          {{#link-to 'project.settings.donations.goals' project}}
            {{fa-icon "money"}} Donations
          {{/link-to}}
        </li>

        <li>
          {{#link-to 'project.settings.donations.payments' project}}
            {{fa-icon "credit-card"}} Payments
          {{/link-to}}
        </li>

        <li>
          {{#link-to 'project.settings.integrations' project}}
            {{fa-icon "podcast"}} Integrations
          {{/link-to}}
        </li>

        <li>
          {{#link-to 'project.settings.profile' project}}
            {{fa-icon "gear"}} Settings
          {{/link-to}}
        </li>
      {{/if}}
    {{/if}}
  </ul>
</div>
