<div class="icon-container">
  {{#link-to 'project' project.organization.slug project.slug}}
    <img class="icon medium" src={{project.iconLargeUrl}} />
  {{/link-to}}
</div>
<div class="details-container">
  <h4>
    {{#link-to 'project' project.organization.slug project.slug}}
      {{project.title}}
    {{/link-to}}
  </h4>
  <p class="organization">by {{project.organization.name}}</p>
  {{project-categories-list categories=projectCategories}}
  <p class="description">
    {{project.description}}
  </p>
  {{related-skills class="project-card__skills" skills=projectSkills}}
  {{project-card-members members=projectOrganizationMembers}}
</div>
