<section class="project__header__main">
  <div class="project__header__icon">
    {{#link-to 'project.index' project}}
      <img class="icon" src={{project.iconThumbUrl}} />
    {{/link-to}}
  </div>

  <div class="project__header__details">
    <h2 class="project__header__title">
      {{#link-to 'project.index' project}}
        {{project.title}}
      {{/link-to}}
    </h2>
  </div>
</section>

<aside class="project__header__side">
  {{#if project.shouldLinkExternally}}
    <a class="button default small external-link" href="{{project.website}}">Join project<span></span></a>
  {{else}}
    {{#if session.isAuthenticated}}
      {{#if currentProjectMembership.isLoaded}}
        {{#if (eq currentProjectMembership.role 'pending')}}
          <button class="clear small" disabled>Request sent</button>
        {{else}}
          <button class="clear small" disabled>Member</button>
        {{/if}}
      {{/if}}

      {{#unless currentProjectMembership}}
        {{project-join-modal project=project skills=projectSkills}}
      {{/unless}}
    {{else}}
      {{link-to "Join project" "signup" class="button default small"}}
    {{/if}}
  {{/if}}
</aside>
