<form>
  <div>
    <label for="username">Username</label>
    {{input name="username" type="text" placeholder='Username' value=user.username}}
    {{#each user.errors.username as |error|}}
      <p class="error">{{error.message}}</p>
    {{/each}}
  </div>
  <div>
    <label for="email">Email</label>
    {{input name="email" type="text" placeholder='Email' value=user.email}}
    {{#each user.errors.email as |error|}}
      <p class="error">{{error.message}}</p>
    {{/each}}
  </div>
  <div>
    <label for="password">Password</label>
    {{input name="password" type="password" placeholder='Password' value=user.password}}
    {{#each user.errors.password as |error|}}
      <p class="error">{{error.message}}</p>
    {{/each}}
  </div>
  <div>
    <input name="signup" type="submit" value='Sign up' {{action 'signUp'}} />
  </div>
  {{#if error}}
    <div class="error">{{error.message}}</div>
  {{/if}}
</form>