<button class="default has-spinner {{if isHovering "can-delete"}}" {{action removeSkill}} disabled={{isLoading}} {{action "hoverButton" on="mouseEnter"}} {{action "leaveButton" on="mouseLeave"}}><span class="{{spanClass}}"></span>{{skill.title}}</button>
