<img src="{{sluggedRoute.model.photo_large_url}}"/>
<p>Name: {{sluggedRoute.model.name}}</p>
<p>Username: {{sluggedRoute.model.username}}</p>
{{#if isOrganization}}
  {{organization-details organization=sluggedRoute.model}}
{{/if}}
{{#if isUser}}
  {{user-details user=sluggedRoute.model}}
{{/if}}