<img src="{{sluggedRoute.owner.photo_thumb_url}}"/>
<p>Name: {{sluggedRoute.owner.name}}</p>
<p>Username: {{sluggedRoute.owner.username}}</p>
{{#if isOrganization}}
  {{organization-details organization=sluggedRoute.owner}}
{{/if}}
{{#if isUser}}
  {{user-details user=sluggedRoute.owner}}
{{/if}}