{{#if isEditing}}
  {{input type="text" value=newTitle name="title"}}
  <div class="title-actions input-group">
    <button class="default save" {{action 'applyEdit'}}>Save</button>
    <button class="clear cancel" {{action 'cancel'}}>Cancel</button>
  </div>
  {{#each task.errors.title as |error|}}
    <p class="error">{{error.message}}</p>
  {{/each}}
{{else}}
  <h2 class="title">{{task.title}} <span class="task-number">#{{task.number}}</span></h2>
  {{#if canEdit}}
  <div class="title-actions">
    <button class="clear right edit" {{action 'edit'}}>Edit Title</button>
  </div>
  {{/if}}
{{/if}}
