{{#if task.isLoading}}
  <div class="long"></div>
  <div class="short"></div>
  <div class="select-inline">
    <span class="select-inline__loading-item__icon"></span>
  </div>
{{else}}
  <p class="task-card__title-group">
    {{#if task.githubPullRequest}}
      {{github/pull-request-icon githubPullRequest=task.githubPullRequest}}
    {{/if}}
    <span class="task-card__title" data-test-task-title>{{task.title}}</span>
    <span class="task-card__number" data-test-task-number>#{{task.number}}</span>
  </p>
  {{#if taskSkills}}
    {{related-skills class="task-card__skills" skills=taskSkills}}
  {{/if}}
  <p class="task-card__meta">
    <span class="task-card__time" data-test-task-time>{{moment-from-now task.createdAt}}</span>
    <span class="task-card__integrations" data-test-task-integrations>
      {{#if task.githubIssue}}
        {{github/issue-link
          githubIssue=task.githubIssue
          githubRepo=task.githubRepo
          size="small"
        }}
      {{/if}}
    </span>
  </p>
  {{task-assignment
    task=task
    taskUser=taskUser
    users=users
  }}
{{/if}}
