<img class="icon" src={{task.user.photoThumbUrl}} />
<div class="task-new-form-body">
  <div class="input-group">
    {{input tabindex="2" name="title" type="text" placeholder="Title" value=task.title}}
    {{#each task.errors.title as |error|}}
      <p class="error">{{error.message}}</p>
    {{/each}}
  </div>
  <div class="input-group">
    {{editor-with-preview
      tabindex="3"
      input=task.markdown
      isLoading=task.isSaving
      placeholder=placeholder
    }}
    {{#each task.errors.markdown as |error|}}
      <p class="error">{{error.message}}</p>
    {{/each}}
  </div>
  <div class="input-group">
    <input tabindex="4" class="button default right" name="submit" type="submit" value="Submit new task" {{action save}} />
  </div>
</div>
