<div class="thank-you-container__project-icon" data-test-selector="project icon">
  {{animated-high-five}}
</div>
<h3>Thank you!</h3>
<div class="thank-you-container__message">
  <p data-test-selector="thank you message">
    From all the volunteers on the {{project.title}} team.
  </p>
  <p>
    {{#if onboarding.isOnboarding}}
      {{link-to "Finish signing up" "start.hello" class="button default"}}
    {{else}}
      {{link-to "Back to project" "project" project.organization.slug project.slug class="button default"}}
    {{/if}}
  </p>
</div>
