<div class="project-user__user">
  <div class="project-user__user__avatar">
    {{#link-to 'slugged-route' user.username}}
      <img class="icon icon--tiny" height="25" width="25" src={{user.photoThumbUrl}} />
    {{/link-to}}
  </div>

  <div data-test-project-user-name class="project-user__user__name">
    {{#if user.name}}
      {{link-to user.name 'slugged-route' user.username}}
    {{else}}
      {{link-to user.username 'slugged-route' user.username}}
    {{/if}}
  </div>
</div>

<div class="project-user__actions">
  <div class="project-user__conversation project-user__button-container">
    {{conversations/new-conversation-modal
      initiatedBy="admin"
      project=project
      user=user
    }}
    {{#tooltip-on-element
      class='tooltip'
      effect='none'
      enableLazyRendering=true
      keepInWindow=true
      side='bottom'
    }}
      New conversation
    {{/tooltip-on-element}}
  </div>

  {{#unless (eq projectUser.role 'pending')}}
    <div class="project-user__button-container">
      {{project-user-role-modal
        project=project
        projectUser=projectUser
        save=(action 'changeRole')
        showModal=showRoleModal
      }}
    </div>
  {{/unless}}

  {{#if (eq projectUser.role 'pending')}}
    <div class="project-user__button-container">
      <a class="project-user__button project-user__button--success" {{action "approve" projectUser}} data-test-approve>{{fa-icon "check"}}</a>
      {{#tooltip-on-element
        class='tooltip'
        effect='none'
        enableLazyRendering=true
        keepInWindow=true
        side='bottom'
      }}
        Approve
      {{/tooltip-on-element}}
    </div>

    <div class="project-user__button-container">
      <a class="project-user__button project-user__button--danger" {{action "deny" projectUser}} data-test-deny>{{fa-icon "close"}}</a>
      {{#tooltip-on-element
        class='tooltip'
        effect='none'
        enableLazyRendering=true
        keepInWindow=true
        side='bottom'
      }}
        Deny
      {{/tooltip-on-element}}
    </div>
  {{/if}}
</div>
