<div class="project-user__user">
  <div class="project-user__user__avatar">
    {{#link-to 'slugged-route' user.username}}
      <img class="icon icon--tiny" height="25" width="25" src={{user.photoThumbUrl}} />
    {{/link-to}}
  </div>

  <div data-test-project-user-name class="project-user__user__name">
    {{#if user.name}}
      {{link-to user.name 'slugged-route' user.username}}
    {{else}}
      {{link-to user.username 'slugged-route' user.username}}
    {{/if}}
  </div>
</div>

<div class="project-user__conversation">
  {{conversations/new-conversation-modal
    initiatedBy="admin"
    project=project
    user=user
  }}
</div>

<div class="project-user__actions">
  {{#if (eq projectUser.role 'pending')}}
    <button class="default small" {{action "showApprove"}} data-test-approve>Approve</button>
    <button class="danger small" {{action "showDeny"}} data-test-deny>Deny</button>
    {{modal-confirm dialogText='Are you sure you want to approve their membership?' okAction=(action 'approve' projectUser) showDialog=showApprove}}
    {{modal-confirm dialogText='Are you sure you want to deny their membership?' okAction=(action 'deny' projectUser) showDialog=showDeny}}
  {{/if}}
</div>
