<img src={{user.photoLargeUrl}} />

<h3>
  {{#if user.name}}
    <div class="name">{{user.name}}</div>
  {{else}}
    <div class="name">{{user.username}}</div>
  {{/if}}
  <div class="username">{{user.username}}</div>
</h3>

{{#if user.biography}}
  <p class="biography">
    {{user.biography}}
  </p>
{{/if}}

<ul class="details border-top border-gray-light">
  {{#if user.twitter}}
    <li class="twitter">
      <a href={{user.twitterUrl}}>@{{user.twitter}}</a>
    </li>
  {{/if}}

  {{#if user.website}}
    <li class="website">
      <a href={{user.website}}>{{user.website}}</a>
    </li>
  {{/if}}
</ul>
