<div class="container">
  {{user-sidebar user=user}}
  <div class="user-details__main">
    {{user-projects-list user=user projects=userProjects}}

    <div class="user-details__skills-list">
      <h3>Skills</h3>
      {{#if user.userSkills}}
        <ul data-test-user-skills-list>
          {{#each user.userSkills as |userSkill|}}
            <li data-test-user-skills-list-item>{{userSkill.skill.title}}</li>
          {{/each}}
        </ul>
      {{else}}
        <p data-test-user-skills-list-empty-state class="empty-state">
          <strong>{{user.username}}</strong> hasn't added any skills yet.
        </p>
      {{/if}}
    </div>
  </div>
</div>
