<div class="project-user__avatar">
  {{#link-to 'slugged-route' user.username}}
    <img class="icon" src= {{user.photoThumbUrl}} />
  {{/link-to}}
</div>

<div class="project-user__name">
  <strong>
  {{#if user.name}}
    {{link-to user.name 'slugged-route' user.username}}
  {{else}}
    {{link-to user.username 'slugged-route' user.username}}
  {{/if}}
  </strong>
  <br>
  <span>
    {{user.username}}
  </span>
</div>

<div class="project-user__skills">
  <h4>Skills</h4>
  {{user/skills-list data-test-user-skills-list user=user}}
</div>

<div class="project-user__actions">
  {{#if (eq projectUser.role 'pending')}}
    <button class="default small" {{action "showApprove"}}>Approve</button>
    <button class="danger small" {{action "showDeny"}}>Deny</button>
    {{modal-confirm dialogText='Are you sure you want to approve their membership?' okAction=(action 'approve' projectUser) showDialog=showApprove}}
    {{modal-confirm dialogText='Are you sure you want to deny their membership?' okAction=(action 'deny' projectUser) showDialog=showDeny}}
  {{/if}}
</div>
