<div class="settings-form__image">
  <div class="input-group">
    {{image-drop
      hoverText="Change your profile photo."
      large=true
      onDone=(action uploadDone)
      onError=(action uploadErrored)
      onStart=(action uploadStarted)
      originalImage=user.photoLargeUrl
    }}
  </div>
</div>

<div class="settings-form__form">
  <div class="input-group">
    <div class="input-label">
      <label>
        <span class="input-label__text">First name</span>
      </label>
    </div>
    {{input type="text" name="firstName" value=user.firstName}}
  </div>
  <div class="input-group">
    <div class="input-label">
      <label>
        <span class="input-label__text">Last name</span>
      </label>
    </div>
    {{input type="text" name="lastName" value=user.lastName}}
  </div>
  <div class="input-group">
    <div class="input-label">
      <label>
        <span class="input-label__text">Twitter</span>
      </label>
    </div>
    <div class="input-group">
      <span class="input-group-addon">@</span>
      {{input type="text" name="twitter" value=user.twitter}}
    </div>
  </div>
  <div class="input-group">
    <div class="input-label">
      <label>
        <span class="input-label__text">Website</span>
      </label>
    </div>
    {{input type="text" name="website" value=user.website}}
  </div>
  <div class="input-group">
    <div class="input-label">
      <label>
        <span class="input-label__text">Biography</span>
      </label>
    </div>
    {{input type="text" name="biography" value=user.biography}}
  </div>

  <div class="input-group">
    <button class="default save" {{action 'save'}}>Update Profile</button>
  </div>
</div>
