<h3>Organizations</h3>
<ul>
{{#each organizations as |organization|}}
  <li class="user-organization-item">
    <div class="thumb">
      {{#link-to 'slugged-route' organization.slug}}
        <img src={{organization.iconThumbUrl}} width="60" height="60" />
      {{/link-to}}
    </div>
    <div class="content">
      <h3>
        {{#link-to 'slugged-route' organization.slug}}
          {{organization.name}}
        {{/link-to}}
      </h3>
      <p>
        {{organization.description}}
      </p>
    </div>
  </li>
{{else}}
  <p class="empty-state">
    <strong>{{user.username}}</strong> hasn't joined any organizations yet.
  </p>
{{/each}}
</ul>
