<section>
  <aside>
    <h3>{{#if (eq status 'verified')}}{{fa-icon "check-circle"}}{{/if}} Bank account</h3>
    <p>Add the account where you'll receive payments.</p>
  </aside>

  {{#if (eq status 'required')}}
    <section>
      <div class="input-group bank-account__routing">
        <div class="input-label">
          <label for="routing-number">Routing Number</label>
        </div>
        {{input disabled=isBusy type="text" name="routing-number" value=routingNumber}}
      </div>
      <div class="input-group bank-account__account">
        <div class="input-label">
          <label for="account-number">Account Number</label>
        </div>
        {{input disabled=isBusy type="text" name="account-number" value=accountNumber}}
      </div>
      <button {{action submit (hash accountNumber=accountNumber routingNumber=routingNumber)}} disabled={{isBusy}} class="default">Submit</button>
    </section>
  {{/if}}

  {{#if (eq status 'verified')}}
    <section>
      <div class="input-group bank-account__bank-name">
        <div class="input-label">
          <label>Bank Name</label>
        </div>
        <p>{{stripeConnectAccount.bankAccountBankName}}</p>
      </div>
      <div class="input-group bank-account__routing">
        <div class="input-label">
          <label>Routing Number</label>
        </div>
        <p>{{stripeConnectAccount.bankAccountRoutingNumber}}</p>
      </div>
      <div class="input-group bank-account__account">
        <div class="input-label">
          <label>Account Number</label>
        </div>
        <p>{{stripeConnectAccount.bankAccountLast4}}</p>
      </div>
    </section>
  {{/if}}
</section>
