<section>
  <aside>
    <h3>Funds recipient</h3>
    <p>Choose who will receive payments for your project.</p>
  </aside>

  {{#if (or (eq status 'required') (eq status 'errored'))}}
    {{payments/funds-recipient/details-form
      onSubmit=(action onRecipientDetailsSubmitted)
      stripeConnectAccount=stripeConnectAccount
    }}
  {{/if}}

  {{#if (eq status 'verifying')}}
    {{payments/funds-recipient/verification-document
      isBusy=isBusy
      onVerificationDocumentSubmitted=(action onVerificationDocumentSubmitted)
      stripeConnectAccount=stripeConnectAccount
    }}

    {{payments/funds-recipient/personal-id-number
      isBusy=isBusy
      stripeConnectAccount=stripeConnectAccount
      submit=(action onLegalEntityPersonalIdNumberSubmitted)
    }}
  {{/if}}

  {{#if (eq status 'verified')}}
    <section>
      <div class="input-group funds-recipient__individual-name">
        <div class="input-label">
          <label>
            <span class="input-label__text">Name</span>
          </label>
        </div>
        <p>{{stripeConnectAccount.legalEntityFirstName}} {{stripeConnectAccount.legalEntityLastName}}</p>
      </div>

      {{#if (eq stripeConnectAccount.legalEntityType 'business')}}
        <div class="funds-recipient__business-name">
          <label>Business Name</label>
          <p>{{stripeConnectAccount.legalEntityBusinessName}}</p>
        </div>
      {{/if}}
    </section>
  {{/if}}
</section>
