{{#if (and githubIssue.isLoaded githubRepo.isLoaded)}}
  <a data-test-issue-url href={{githubIssue.htmlUrl}} {{action "trackClick" preventDefault=false}}>
    {{#if (eq size "large")}}
      <span class="github__issue-link__icon">
        {{svg/sprite-icon icon="github-48"}}
      </span>
      <span class="github__issue-link__text">
        <span class="github__issue-link__repo-name" data-test-repo-name>{{githubRepo.githubAccountLogin}}/{{githubRepo.name}}</span>
        <span class="github__issue-link__issue-number" data-test-issue-number>#{{githubIssue.number}}</span>
        <span class="github__issue-link__external-icon" data-test-external-icon>{{fa-icon "external-link"}}</span>
      </span>
    {{else if (eq size "small")}}
      {{svg/sprite-icon icon="github-48" style="solid-light-gray"}}
      {{#tooltip-on-component
        class='tooltip'
        effect='none'
        enableLazyRendering=true
        keepInWindow=true
        side='bottom'
      }}
        {{githubRepo.githubAccountLogin}}/{{githubRepo.name}} #{{githubIssue.number}}
      {{/tooltip-on-component}}
    {{/if}}
  </a>
{{else}}
  {{#if (eq size "large")}}
    <div data-test-loading-large class="is-loading is-loading--col-12 is-loading--h-20"></div>
  {{else if (eq size "small")}}
    <div data-test-loading-small class="is-loading is-loading--circle-16"></div>
  {{/if}}
{{/if}}
