<a data-test-issue-url href={{url}}>
  {{#if (eq size "large")}}
    {{svg/sprite-icon icon="github-48"}} <span class="github__issue-link__repo-name" data-test-repo-name>{{githubRepo.name}}</span> <span class="github__issue-link__issue-number" data-test-issue-number>#{{number}}</span>
  {{else if (eq size "small")}}
    {{svg/sprite-icon icon="github-48" style="solid-light-gray"}}
    {{#tooltip-on-component
      effect='none'
      side='bottom'
      updateFor=category.isLoaded
    }}
      {{githubRepo.githubAccountLogin}}/{{githubRepo.name}} #{{number}}
    {{/tooltip-on-component}}
  {{/if}}
</a>
