{{#if merged}}
  {{svg/sprite-icon icon="github-merge-48" style="solid-purple"}}
{{else if (eq state 'closed')}}
  {{svg/sprite-icon icon="github-pull-request-48" style="solid-red"}}
{{else if (eq state 'open')}}
  {{svg/sprite-icon icon="github-pull-request-48" style="solid-green"}}
{{else}}
  <div data-test-loading class="loading loading--circle-16"></div>
{{/if}}
