<div class="settings-main">
  {{#if stripeConnectAccount}}
    {{#if stripeConnectAccount.chargesEnabled}}
      {{donation-goals
        add=(action 'addDonationGoal')
        cancel=(action 'cancelDonationGoal')
        edit=(action 'editDonationGoal')
        project=project
        save=(action 'saveDonationGoal')
        activateDonations=(action 'activateDonations' project)}}
    {{else}}
      <h3>Awaiting Stripe verification...</h3>
      <p>Your organization is now connected to stripe, but stripe still needs to verify your account</p>
      <button
        {{action 'reloadAccount'}}
        class="{{unless stripeConnectAccount.isReloading "default"}} refresh"
        disabled={{stripeConnectAccount.isReloading}}>
        {{#if stripeConnectAccount.isReloading}}Refreshing...{{else}}Refresh status{{/if}}
      </button>
    {{/if}}
  {{else}}
    {{#if stripeAuth}}
      <div class="header-section">
        <h3>Accept donations for {{project.title}}</h3>
        {{stripe-connect-button url=stripeAuth.url}}
        <p>To start accepting donations, you'll need to create a new Stripe account or connect with an existing Stripe account.</p>
        <p>Click "Connect with Stripe" to get started. You'll be redirected to Stripe and return here to finish.</p>
      </div>
    {{/if}}
  {{/if}}
  {{#if error}}
    {{error-formatter error=error}}
  {{/if}}
</div>

<div class="settings-sidebar">
  {{#if project.donationsActive}}
    <h3>Current goal</h3>
    {{donations/donation-progress
      amountDonated=project.totalMonthlyDonated
      donationGoal=project.currentDonationGoal
    }}
  {{/if}}
</div>
