{{#if (eq status 'required')}}
  {{#if isBusy}}
    Processing...
  {{else if isUploading}}
    {{progressMessage}}
  {{else}}
    <div>we need you to upload a scan of your ID (form + submit)</div>
    <div>
      {{payments/funds-recipient/identity-document-file-upload
        isBusy=isBusy
        stripeConnectAccount=stripeConnectAccount
        uploadStarted=(action onUploadStarted)
        uploadProgress=(action onUploadProgress)
        uploadDone=(action onUploadDone)
        uploadError=(action onUploadError)
        validationError=(action onValidationError)}}
    </div>
    {{#if error}}
      <div class="error">{{error}}</div>
    {{/if}}
  {{/if}}
{{/if}}
{{#if (eq status 'verifying')}}
  Please be patient while we review the document you provided.
{{/if}}
