<div class="conversation-composer__input">
  {{submittable-textarea
    data-test-body
    autoresize=true
    classNameBindings="textareaFocused:focused"
    max-height=350
    modifiedSubmit=(action send body)
    name="markdown"
    onBlur="blurTextarea"
    placeholder=placeholder
    tabindex=tabindex
    value=body}}
</div>
<div class="conversation-composer__footer">
  <button {{action send body}} disabled={{submitDisabled}} class="button default {{if submitDisabled "disabled"}}" data-test-submit-button>{{fa-icon "paper-plane"}} Send</button>
</div>
