<div class="conversation-thread-inner">
  <div class="conversation-thread__messages">
    {{#if conversation.message.isLoaded}}
      {{conversations/conversation-part-comment
        author=conversation.message.author
        body=conversation.message.body
        readAt=conversation.message.readAt
        sentAt=conversation.message.insertedAt
      }}
    {{/if}}
    {{#each conversation.conversationPart as |conversationPart|}}
      {{#if conversationPart.isLoaded}}
        {{#if (eq conversationPart.partType 'Closed')}}
          {{conversation/converation-part-closed}}
        {{else}}
          {{conversations/conversation-part-comment
          author=conversationPart.author
          body=conversationPart.body
          readAt=conversationPart.readAt
          sentAt=conversationPart.insertedAt
          }}
        {{/if}}
      {{/if}}
    {{/each}}
  </div>
  <div class="conversation-thread__composer">
    {{conversations/conversation-composer
      send=(pipe (action send) (action scrollBottom))
    }}
  </div>
</div>
