<div class="conversation-thread-inner">
  <div class="conversation-thread__messages">
    {{#if conversation.message.isLoaded}}
      {{#each sortedConversationParts as |conversationPart|}}
        {{#if conversationPart.isLoaded}}
          {{#if (can "administer project" project)}}
            {{#if (eq conversationPart.partType 'closed')}}
              {{conversation/conversation-part-closed
                author=conversationPart.author
                closedAt=conversationPart.insertedAt
              }}
              {{else if (eq conversationPart.partType 'reopened')}}
                {{conversations/conversation-part-reopened
                author=conversationPart.author
                reopenedAt=conversationPart.inserted
              }}
            {{/if}}
          {{else}}
            {{conversations/conversation-part-comment
              author=conversationPart.author
              body=conversationPart.body
              readAt=conversationPart.readAt
              sentAt=conversationPart.insertedAt
            }}
          {{/if}}
        {{/if}}
      {{/each}}
    {{/if}}
  </div>
  <div class="conversation-thread__composer">
    {{conversations/conversation-composer
      onSend=(pipe (action send) (action scrollBottom))
    }}
  </div>
</div>
