{{title "Conversations" " « " project.title " by " project.organization.name}}

<div class="container--wide">
  {{project-header project=project}}
</div>

{{project-menu project=project wide=true}}

<div class="conversations">
  <aside>
    {{#each conversations as |conversation|}}
      {{conversations/conversation-list-item conversation=conversation}}
    {{else}}
      <div class="conversations__empty">
        <p class="conversations__empty__icon">
          {{fa-icon "comment"}}
        </p>
        <p><strong>You haven't had any conversations yet.</strong></p>
        <p>Go start one with someone in your project!</p>
        <p>
          {{link-to 'See your users' 'project.people' class="button default"}}
        </p>
      </div>
    {{/each}}
  </aside>
  <section>
    <div class="conversation">
      {{outlet}}
    </div>
  </section>
</div>
