{{title project.title " by " project.organization.name}}

<div class="container">
  <div class="project-wrapper project-wrapper--index">

    <div class="project-main">
      {{project-long-description project=project}}
    </div>

    <aside class="project-sidebar">

      {{#if project.donationsActive}}
        <section class="project-sidebar__section">
          {{donations/donation-progress
            amountDonated=project.totalMonthlyDonated
            donationGoal=project.currentDonationGoal
          }}
          {{donations/donation-status
            project=project
            subscription=subscription
          }}
        </section>
      {{/if}}

      {{#if projectUsers}}
        <section class="project-sidebar__section">
          {{project-users users=projectUsers}}
        </section>
      {{/if}}

      {{#if project.skills}}
        <section class="project-sidebar__section">
          <h4>Skills</h4>
          {{related-skills skills=project.skills}}
        </section>
      {{/if}}

    </aside>
  </div>
</div>
