{{title project.title " by " project.organization.name}}

<div class="container">
  {{project-details project=project expanded=true}}
</div>

{{project-menu project=project}}

<div class="container">
  <div class="project-wrapper">

    {{project-long-description project=project}}

    <aside class="project-sidebar">

      {{#if project.donationsActive}}
        <section class="project-sidebar__section">
          <h4>Donations</h4>
          {{donations/donation-progress
            amountDonated=project.totalMonthlyDonated
            donationGoal=project.currentDonationGoal
          }}
          {{donations/donation-status
            createDonation=(action 'saveSubscription')
            subscription=subscription
          }}
        </section>
      {{/if}}

      <section class="project-sidebar__section">
        {{organization-members count=project.organization.totalMembersCount members=project.organization.organizationMembers}}
      </section>

      <section class="project-sidebar__section">
        <h4>Skills</h4>
        {{skills-list skills=projectSkills}}
      </section>

    </aside>
  </div>
</div>
