{{title project.title " by " project.organization.name}}

{{project-details project=project expanded=true}}
{{project-menu project=project}}

<div class="project-main">
  {{project-long-description project=project}}
</div>

<div class="project-sidebar">
  {{#if project.donationsActive}}
    <div class="project-sidebar__section">
      <h3>Donations</h3>
      {{donations/donation-progress
        amountDonated=project.totalMonthlyDonated
        donationGoal=project.currentDonationGoal
      }}
      {{donations/donation-status
        createDonation=(action 'saveSubscription')
        subscription=subscription
      }}
    </div>
  {{/if}}

  <div class="project-sidebar__section">
    {{organization-members count=project.organization.totalMembersCount members=project.organization.organizationMembers}}
  </div>

  <div class="project-sidebar__section">
    <h3>Skills</h3>
    {{skills-list skills=projectSkills}}
  </div>
</div>
