<div class="start__header">
  <h2>How can you help?</h2>
  <h3>We'll match you to projects that need your experience.</h3>
</div>

<div class="start__expertise">
  <div class="expertise__column--technology">
    <h3>Technology</h3>
    {{#each (filter-by "isTechnology" true model) as |role|}}
      {{role-item role=role}}
    {{/each}}
  </div>
  <div class="expertise__column--creative">
    <h3>Creative</h3>
    {{#each (filter-by "isCreative" true model) as |role|}}
      {{role-item role=role}}
    {{/each}}
  </div>
  <div class="expertise__column--support">
    <h3>Support</h3>
    {{#each (filter-by "isSupport" true model) as |role|}}
      {{role-item role=role}}
    {{/each}}
  </div>
</div>

<div class="start__footer">
  <p>Finished adding your experience?</p>
  <button class="{{if userRoles.isEmpty "clear" "default"}}" disabled={{userRoles.isEmpty}} {{action 'continue'}}>Continue</button>
</div>
