<div class="start__header">
  <h2>What skills can you share?</h2>
  <h3>We'll help you find projects that need your exact skills.</h3>
</div>

<div class="start__skills">

  <div class="skills__list">
    {{#each model as |userSkill|}}
      {{skill-button skill=userSkill.skill isLoading=userSkill.isLoading}}
    {{else}}
      <p>Add your skills and they'll show up here.</p>
    {{/each}}
  </div>

  <div class="skills__input">
    {{#auto-focus}}
      {{user-skills-input}}
    {{/auto-focus}}
  </div>

</div>

<div class="start__footer">
  <p>Finished adding your skills?</p>
  <button class="{{if userSkills.isEmpty "clear" "default"}}" disabled={{userSkills.isEmpty}} {{action 'continue'}}>Find Projects</button>
</div>
