<div class="container">
  <div class="task-new-main">
    {{task-new-form task=task save=(action 'saveTask' task)}}
    {{#if error}}
      {{error-formatter error=error}}
    {{/if}}
  </div>
  <div class="task-new-sidebar">
    <div class="task-sidebar-section">
      <div class="task-sidebar-section__header">
        <h2>Skills</h2>
      </div>

      <div class="task-skills-list centered">
        {{#each unsavedTaskSkills as |taskSkill|}}
          {{skill-button
            alwaysShowX=true
            iconBefore=false
            isLoading=taskSkill.isLoading
            remove=(action 'deselectTaskSkill' taskSkill)
            size="small"
            skill=taskSkill
          }}
        {{/each}}
      </div>

      <div class="skills-typeahead-container">
        {{skills-typeahead
          centered=true
          selectSkill=(action 'toggleSkill')
          skillsList=unsavedTaskSkills
        }}
      </div>
      {{project-skills-list
        onSkillClicked=(action 'toggleSkill')
        project=task.project
        excludedSkills=unsavedTaskSkills
        showHeader=true
        header="Or click to add skills below"
      }}
    </div>
  </div>
</div>
