{{#if card.isLoading}}
  Loading card...
{{else}}
  <div class="card-item__info">
    {{donation/card-logo brand=card.brand}}
    <p><span class="card-item__brand">{{card.brand}}</span> ending in {{card.last4}}</p>
  </div>
  <span class="card-item__expiry">{{card.expMonth}}/{{card.expYear}}</span>
{{/if}}
