<div class="donation-amount">
  <h4>{{format-currency donationAmount}}</h4>
  <div class="footnote additional-content">
    given each month
    <a href="#">edit</a>
  </div>
</div>

<h3>Payment information</h3>
<p>
  {{#if projectTitle}}
    Your payment method will be charged {{format-currency donationAmount}}
    per month to support {{projectTitle}}.
  {{else}}
    No project selected.
  {{/if}}
</p>

{{donation/credit-card canDonate=canDonate}}

<footer>
  <p class="additional-content">
    Your donation will repeat automatically each month.
    You can cancel or edit your donation at any time.
    By making this donation, you are agreeing to our
    {{link-to "Terms of use" "terms-of-use"}}.
  </p>
</footer>
