<div class="donation-amount">
  <h3>{{format-currency donationAmount}}</h3>
  <div class="footnote additional-content">
    given each month
  </div>
</div>

<h3>Payment information</h3>
<p class="payment-information">
  Your payment method will be charged {{format-currency donationAmount}}
  per month to support {{projectTitle}}.
</p>

{{#if showCardForm}}
    <h3>Select card</h3>
  {{#donation/credit-card canSubmit=canSubmitAddCard submit=saveCard canCancel=hasCards}}
    {{!show errors}}
    {{yield}}
  {{/donation/credit-card}}
{{else}}
  {{donation/card-list cards=cards selectedCard=selectedCard selectCard=(action (mut selectedCard))}}
  <button class="button--small" {{action 'addCard'}}>Add Card</button>
  <!-- <button class="add-card default" {{action 'addCard'}}>Add new card</button> -->
{{/if}}

{{#if canDonate}}
  <button class="default donate large" {{action donate donationAmount selectedCard}} disabled={{donationDisabled}}>Donate</button>

  {{!show errors}}
  {{yield}}

  <footer>
    <p class="additional-content">
      Your donation will repeat automatically each month.
      You can cancel or edit your donation at any time.
      By making this donation, you are agreeing to our
      {{link-to "Terms of use" "terms-of-use"}}.
    </p>
  </footer>
{{/if}}
