<div class="donation-container__donation-amount">
  <h3>{{format-currency donationAmount}}</h3>
  <div class="donation-container__donation-amount__footnote  additional-content">
    given each month
  </div>
</div>

<h3>Payment information</h3>
<p class="payment-information">
  Your payment method will be charged {{format-currency donationAmount}}
  per month to support {{projectTitle}}.
</p>

{{#if canShowCardList}}
  {{donation/card-list cards=cards selectedCard=defaultCard}}
{{/if}}

{{#if canAddCard}}
  {{#donation/credit-card canSubmit=canSubmitAddCard submit=addCard canCancel=canShowCardList}}
    {{!show errors}}
    {{yield}}
  {{/donation/credit-card}}
{{/if}}

{{#if canDonate}}
  <button class="default donate large" {{action (action donate selectedCard)}} disabled={{donationDisabled}}>Donate</button>

  {{!show errors}}
  {{yield}}

  <footer>
    <p class="additional-content">
      Your donation will repeat automatically each month.
      You can cancel or edit your donation at any time.
      By making this donation, you are agreeing to our
      {{link-to "Terms of use" "terms-of-use"}}.
    </p>
  </footer>
{{/if}}
