<div class="task__user__users-list-item__avatar">
  <img src={{user.photoThumbUrl}} />
</div>
<div class="task__user__users-list-item__content">
  <span class="task__user__users-list-item__username">{{user.username}}</span>
  {{#if user.name}}
    <span class="task__user__users-list-item__name">{{user.name}}</span>
  {{else}}
    <span class="task__user__users-list-item__name">{{user.username}}</span>
  {{/if}}
</div>
