{{#if isLoading}}
  <span class="task__user__user-select__icon--loading"></span>
  <span class="task__user__user-select__loading-text">Loading...</span>
{{else if user}}
  <img class="task__user__user-select__icon--assigned" src={{user.photoThumbUrl}} />
  <span class="task__user__user-select__username">{{user.username}}</span>
{{else}}
  <span class="task__user__user-select__icon--unassigned"></span>
  <span>No one yet</span>
{{/if}}

{{#if showUsers}}
  {{!-- div is needed because of glimmer bug in ember-tether --}}
  <div>
    {{#ember-wormhole to="application"}}
      <div {{action "hide" on="click"}} class="select-dropdown__modal-overlay"></div>
    {{/ember-wormhole}}

    {{#ember-tether
      attachment="top left"
      constraints=constraints
      offset="0 15px"
      target=target
      targetAttachment="top left"
    }}
      {{task/user/users-list
        action=(action "hide")
        task=task
        user=user
        userTask=userTask
      }}
    {{/ember-tether}}
  </div>
{{/if}}
