<div class="information">
  <div class="amount">
    <div class="value">{{format-currency amountDonated trimZero=true}}</div>
    <div class="description">given each month</div>
  </div>
  <div class="percentage">
    <div class="value">{{format-percentage percentage trimZero=true}}</div>
    <div class="description">of {{format-currency donationGoal.amount trimZero=true}} goal</div>
  </div>
</div>
{{progress-bar-container percentage=percentage}}
<p>{{description}}</p>
