{{title "About"}}

<div class="container">
  <div class="about-us">
    <h2>{{t 'about-us.we-help'}}</h2>
    <div class="airplane-icon-container">
      <div class="airplane-icon"></div>
    </div>
    <h3>{{t 'about-us.we-were-promised'}}</h3>
    <div class="cars-icon"></div>
    <h3>{{t 'about-us.where-are-the-apps'}}</h3>
    <div class="rocketship-icon"></div>
    <h3>{{t 'about-us.we-want-to-build'}}</h3>
    <ul>
      <li class="step">
        <div class="connect-icon"></div>
        <h4>{{t 'about-us.value-prop.headers.connect'}}</h4>
        <p>{{t 'about-us.value-prop.descriptions.connect'}}</p>
      </li>
      <li class="step">
        <div class="support-icon"></div>
        <h4>{{t 'about-us.value-prop.headers.provide'}}</h4>
        <p>{{t 'about-us.value-prop.descriptions.provide'}}</p>
      </li>
      <li class="step">
        <div class="fund-icon"></div>
        <h4>{{t 'about-us.value-prop.headers.fund'}}</h4>
        <p>{{t 'about-us.value-prop.descriptions.fund'}}</p>
      </li>
      <li class="step">
        <div class="develop-icon"></div>
        <h4>{{t 'about-us.value-prop.headers.develop'}}</h4>
        <p>{{t 'about-us.value-prop.descriptions.develop'}}</p>
      </li>
    </ul>
    <div class="help">
      <h3>{{t 'about-us.call-to-action.header'}}</h3>
      <p>{{t 'about-us.call-to-action.description'}}</p>
      <p>{{#link-to "signup" class="button default"}}{{t 'about-us.call-to-action.button'}}{{/link-to}}</p>
    </div>
  </div>
</div>
