<div class="container">
  <div class="admin-sidebar">
    <ul>
      <li>
        {{#link-to "admin.index"}}
          {{fa-icon "terminal"}} Admin
        {{/link-to}}
      </li>
      <li>
        {{#link-to "admin.github-events" (query-params page=1)}}
          {{fa-icon "podcast"}} GitHub Events
        {{/link-to}}
      </li>
      <li>
        {{#link-to "admin.organization-invites"}}
          {{fa-icon "envelope-open-o"}} Organization Invites
        {{/link-to}}
      </li>
      <li>
        {{#link-to "admin.projects"}}
          {{fa-icon "clipboard"}} Projects
        {{/link-to}}
      </li>
    </ul>
  </div>
  <div class="admin-main">
    {{outlet}}
  </div>
</div>
