{{#drag-zone}}
  {{navigation-menu}}
  <div class="body-container">
    {{flash-messages}}
    <div class="main container {{codeTheme.className}}">
      {{outlet}}
    </div>
  </div>
  {{#unless isOnboarding}}
    {{site-footer}}
  {{/unless}}
{{/drag-zone}}
