{{title "Code Corps"}}

{{! do we have to wrap the whole app with #drag-zone?
isn't this here mainly for updating a user's image? }}
{{#drag-zone}}
  <div id="application" class="flexbox-container">
    {{loading-bar}}
    {{! it'd be nice for the sake of consistency to rename
    'navigation-menu' to 'site-header' }}
    {{navigation-menu}}
    {{flash-messages}}
    <div class="site-content {{if isOnboarding "site-content--start"}} {{codeTheme.className}} {{projectTaskBoard.className}}">
      {{outlet}}
    </div>
    {{#if shouldShowSpacer}}
      <div class="flexbox-spacer"></div>
    {{/if}}
    {{#if shouldShowFooter}}
      {{site-footer}}
    {{/if}}
  </div>
{{/drag-zone}}
