{{title "Code Corps"}}

{{#drag-zone}}
  <div class="flexbox-container">
    {{loading-bar}}
    {{navigation-menu}}
    {{flash-messages}}
    <div class="main container {{codeTheme.className}} {{projectTaskBoard.className}}">
      {{outlet}}
    </div>
    {{#if shouldShowSpacer}}
      <div class="flexbox-spacer"></div>
    {{/if}}
    {{#if shouldShowFooter}}
      {{site-footer}}
    {{/if}}
  </div>
{{/drag-zone}}
