{{title "Code Corps"}}

{{#drag-zone}}
  {{navigation-menu}}
  {{flash-messages}}
  <div class="main container {{codeTheme.className}}">
    {{outlet}}
  </div>
  {{#unless isOnboarding}}
    {{site-footer}}
  {{/unless}}
{{/drag-zone}}
