{{title "Code Corps"}}

{{#drag-zone}}
  <div class="flexbox-container">
    {{navigation-menu}}
    {{flash-messages}}
    <div class="main container {{codeTheme.className}}">
      {{outlet}}
    </div>
    <div class="flexbox-spacer"></div>
    {{#unless isOnboarding}}
      {{site-footer}}
    {{/unless}}
  </div>
{{/drag-zone}}
