{{title "Conversations"}}

<div class="conversations">
  <aside>
    {{#each (sort-by "updatedAt:desc" conversations) as |conversation|}}
      {{conversations/conversation-list-item-with-project
        conversation=conversation
      }}
    {{else}}
      <div class="conversations__empty">
        <p class="conversations__empty__icon">
          {{fa-icon "comment"}}
        </p>
        <p><strong>You haven't had any conversations yet.</strong></p>
      </div>
    {{/each}}
  </aside>
  <section>
    <div class="conversation">
      {{outlet}}
    </div>
  </section>
</div>
