{{title "Team"}}

<div class="container">
  <div class="team-section company">
    <div class="team-section-header">
      <h2>Our Team</h2>
      <h3>We're a small self-funded team building tools for people who want to shape the world with software.</h3>
    </div>
    <ul>
      <li>
        <img width="200" height="200" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/josh-smith.png">
        <h4>Josh Smith</h4>
        <p>Founder & CEO</p>
      </li>
      <li>
        <img width="200" height="200" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/nikola-begedin.png">
        <h4>Nikola Begedin</h4>
        <p>Founder & CTO</p>
      </li>
      <li>
        <img width="200" height="200" src="https://d3pgew4wbk2vb1.cloudfront.net/images/team/dave-connis.png">
        <h4>Dave Connis</h4>
        <p>Community Manager</p>
      </li>
    </ul>
  </div>
  <div class="team-section contributors">
    <div class="team-section-header">
      <h2>Our Contributors</h2>
      <h3>People who are giving their time and talent to help us build the future. Thanks to all of you!</h3>
    </div>
    <ul>
      {{team-member name="Andrew Walton" imageSlug="andrew-walton"}}
      {{team-member name="Brady Rudesill" imageSlug="brady-rudesill"}}
      {{team-member name="Brian Whitton" imageSlug="brian-whitton"}}
      {{team-member name="Chris Riegg" imageSlug="chris-riegg"}}
      {{team-member name="Chris Styles" imageSlug="chris-styles"}}
      {{team-member name="Dylan Spencer" imageSlug="dylan-spencer"}}
      {{team-member name="Ethan Wojcinski" imageSlug="ethan-wojcinski"}}
      {{team-member name="Hannah Zabarsky" imageSlug="hannah-zabarsky"}}
      {{team-member name="Heather Brysiewicz" imageSlug="heather-brysiewicz"}}
      {{team-member name="Israel de la Hoz" imageSlug="israel-de-la-hoz"}}
      {{team-member name="James O'Donnell" imageSlug="james-odonnell"}}
      {{team-member name="Jimmy Wilson" imageSlug="jimmy-wilson"}}
      {{team-member name="Justin Farrugia" imageSlug="justin-farrugia"}}
      {{team-member name="Kim Koga" imageSlug="kim-koga"}}
      {{team-member name="Lorrayne Rocha" imageSlug="lorrayne-rocha"}}
      {{team-member name="Madison Sites" imageSlug="madison-sites"}}
      {{team-member name="Mike Stallard" imageSlug="mike-stallard"}}
      {{team-member name="Nick Pendery" imageSlug="nick-pendery"}}
      {{team-member name="Nicolas Dedual" imageSlug="nicolas-dedual"}}
      {{team-member name="Oleg Korneitchouk" imageSlug="oleg-korneitchouk"}}
      {{team-member name="Pavan Trikutam" imageSlug="pavan-trikutam"}}
      {{team-member name="Rigel St. Pierre" imageSlug="rigel-st-pierre"}}
      {{team-member name="Robert Samson" imageSlug="robert-samson"}}
      {{team-member name="Sam Provenza" imageSlug="sam-provenza"}}
      {{team-member name="Sreeni Chippada" imageSlug="sreeni-chippada"}}
      {{team-member name="Tom Chen" imageSlug="tom-chen"}}
      {{team-member name="Tyler Wendlandt" imageSlug="tyler-wendlandt"}}
      {{team-member name="Venkat Dinavahi" imageSlug="venkat-dinavahi"}}
      {{team-member name="Zach Schneider" imageSlug="zach-schneider"}}
    </ul>
  </div>
  <div class="team-section">
    <h2>Want to join the team?</h2>
    <h3>We'd love to have you, and we can't do this alone.</h3>
    <p>{{#link-to "signup" class="button default"}}Join Code Corps today{{/link-to}}</p>
  </div>
</div>
